/*BODY*/


ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

a {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.links {
	font-size: 18px;
	text-align: center;
	display: inline;
	padding: 18px;
	margin: 0;

}

.header {
	background: #f9f9f9;
	padding: 0 10px;
	text-align: right;
}

.section {
	margin: auto;
}

.experience {
	padding-left: 6px;
	padding-bottom: 5px;
	margin: 0; 
}

.flex {
	display: flex;
}

.column1 {
	flex: 1;
	margin-right: 20px;
}

.column2 {
	flex: 1;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align: center;
	padding-left: 6px;
}

/*IMAGES*/

img {
	max-width: 200px;
	border-radius: 100px;
	margin-bottom: 18px;
}


/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;

}

.headings {
	font-size: 20px;
	color: white;
	margin-bottom: 10px;
	padding-top: 6px;
	padding-left: 8px;
	padding-bottom: 6px;
	background-color: #00aaea;
}

h6 {
	background-color: none;
	font-size: 34px;
	margin: 10px 0 0;
}

h2 {
	font-size: 24px;
	font-weight: 800;
	color: #00aaea;
	margin: 0;
	padding-bottom: 2px;
	text-align: center;
}

h3 {
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	padding-bottom: 2px; 
}

h4 {
	font-size: 14px;
	font-weight: 600;
	color: #666666;
	margin: 0;
	padding-bottom: 2px;
}

h5 {
	font-size: 14px;
	font-weight: 100;
	color: darkgrey;
	margin: 0;
	padding-bottom: 8px;
}