html {
	width: 100%;
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

ul {
	font-size: 28px;
	list-style: none;
}

li {
	font-weight: 100;
	text-decoration: none;
	margin-bottom: 20px;

}
.flexbox {
    display: flex;
    margin: 10px;
}

.text {
    flex:1;
}

.flexbox .text a {
    color: #00aaea;
}

.info {
    flex:1;
    margin: 0 20px 0 40px;
}

img {
    width: 300px;
    height: 200px;
    margin: 0 40px;
}

li:hover {
	font-weight: bold;
}

.header {
	background: #f9f9f9;
	padding: 10px 10px;
	text-align: right;
}

.header li {
    display: inline;
}

#nav {
    display: flex;
}

#header .nav .navbar-nav a {
    color: #00aaea;
    flex: 1;
}


footer {
    background: #f9f9f9;
    padding: 30px;
    text-align: right;
}

.col1,
.col2 {
    width: 100%;
}

.headings {
    color: #00aaea;
    margin: 0 0 2px;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 0.04em;
}

.bold {
    color: #00aaea;
    margin: 0 0 2px;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 0.04em;
}

h2 {
    font-size: 24px;
    font-weight: 800;
    color: #00aaea;
    margin: 0;
    padding-bottom: 2px;
    text-align: center;
}

h3 {
    color: #232323;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 2px; 
}

h4 {
    font-size: 14px;
    color: #232323;
    margin: 0;
    font-weight: 200;
    padding-bottom: 2px; 
}

h5 {
    font-size: 14px;
    font-weight: 100;
    color: #999;
    margin: 0;
    padding-bottom: 8px;
}

.experience {
    padding-bottom: 15px;
    margin: 0; 
}

.flex {
    display: flex;
}

.column1 {
    flex: 1;
    margin-right: 20px;
}

.column2 {
    flex: 1;
}

.center {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: left;
    padding: 20px 0 30px;
}

.center a {
    color: #00aaea;
}

#resume {
    margin: 20px 50px;
}

#nav.active {
    color: #fff !important;
    text-decoration: underline !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
/* NAVBAR -------------------------------------------------- */

/*.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}*/

/*================================
=            BASE CSS            =
================================*/
* {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.force-gpu * {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
body {
    -webkit-font-smoothing: antialiased;
}
section, header, footer, main, article, nav, aside {
    position: relative;
}
a {
    color: #ff455f;
    outline: none !important;
    text-decoration: none !important;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}
a:hover, a:focus {
    color: #0e1832;
}

input, textarea  {
    letter-spacing: -.02em;
}

::selection {
    background: rgb(255, 255, 43);
    color: #00aaea;
}
::-moz-selection {
    background: rgb(255, 255, 43);
    color: #00aaea;
}
.ScrollSceneIndicators { z-index: 9999999 !important; }

/*==============================
=            LATEST            =
==============================*/
#categories,
#industrial,
#product,
#aboutme { 
    text-align: left; 
    height: 700px;
}

#industrial,
#product,
#aboutme, 
#resume {
    padding: 40px 0 0 0;
}

#industrial .first,
#industrial .second,
#industrial .third,
#industrial .fourth,
#industrial .fifth,
#industrial .last {
    padding-bottom: 50px; 
}


#categories .contents,
#industrial .contents,
#product .contents {
    position: relative;
    z-index: 99999999;
}

#industrial .contents {
    display: flex;
}

#categories .contents,
#industrial .contents,
#product .contents {
    margin: auto;
    height: 180px;
    padding: 60px 0 0 0;
}

#categories .contents a,
#industrial .contents a,
#product .contents a {
    display: block;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

#categories .contents a .wrap,
#industrial .contents a .wrap,
#product .contents a .wrap,
#aboutme .contents a .wrap {
    position: relative;
    display: block;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
    padding: 25px 50px;
}

#categories .contents a .wrap,
#industrial .contents a .wrap,
#product .contents a .wrap {
    background: #fff; 
    color: #00aaea;
}

#industrial .contents a.first .wrap,
#industrial .contents a.fourth .wrap { 
    margin-top: 20px; 
}

#categories .contents a:hover .wrap,
#industrial .contents a:hover .wrap,
#product .contents a:hover .wrap { 
    background: #00aaea; 
}

#categories .contents a.first .wrap,
#categories .contents a.middle .wrap,
#categories .contents a .third .wrap,
#categories .contents a.last .wrap { 
    padding-top: 40px; padding-bottom: 40px;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease; 
}

#categories a:hover h4,
#industrial a:hover h4,
#industrial a:hover p,
#product a:hover h4,
#product a:hover p {
    color: #fff;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}

#categories a h4,
#industrial a h4,
#product a h4,
#aboutme a h4 {
    color: #00aaea;
    margin: 0 0 2px;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 0.04em;
}

#industrial a p,
#product a p {
    color: #aeaeae;
    margin: 0;
    font-size: 16px;
    font-weight: 200;
}

/*.active {
    color: #fff !important;
    text-decoration: underline !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    display: inline;
}*/
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

